@{
    ViewData["Title"] = "Home Page";
}
<div class="flex-container" >
    <div id="upper-row">
        <div class="tasks" id="tasks-pool">
            <ul id="tasks-pool-list"></ul>
        </div>
    </div>
    <div id="lower-row">
        <div class="tasks user-tasks" id="user-tasks-one">
            <ul id="tasks-pool-list-user-one"></ul>
            <div id="number">1</div>
        </div>
        <div class="tasks user-tasks" id="user-tasks-two">
            <ul id="tasks-pool-list-user-two"> </ul>
            <div id="number">2</div>
        </div>
        <div class="tasks user-tasks" id="user-tasks-three">
            <ul id="tasks-pool-list-user-three"> </ul>
            <div id="number">3</div>
        </div>
    </div>
</div>
