@{
    ViewData["Title"] = "Home Page";
}
<div class="flex-container" >
    <div id="upper-row">
        <div class="tasks" id="tasks-pool">Tasks pool</div>
    </div>
    <div id="lower-row">
        <div class="tasks user-tasks" id="user-tasks-one">1</div>
        <div class="tasks user-tasks" id="user-tasks-two">2</div>
        <div class="tasks user-tasks" id="user-tasks-three">3</div>
    </div>
</div>
