@{
    ViewData["Title"] = "Home Page";
}
<div class="flex-container" >
    <div id="upper-row">
        <div class="tasks" id="tasks-pool">

        </div>
    </div>
    <div id="lower-row">
        <div class="tasks user-tasks" id="user-tasks-one">
            <div id="number">1</div>
        </div>
        <div class="tasks user-tasks" id="user-tasks-two">
            <div id="number">2</div>
        </div>
        <div class="tasks user-tasks" id="user-tasks-three">
            <div id="number">3</div>
        </div>
    </div>
</div>
