@{
    ViewData["Title"] = "Home Page";
}
<div class="flex-container" >
    <div id="upper-row">
        <div class="tasks" id="tasks-pool"></div>
    </div>
    <div id="lower-row">
        <div id="user-tasks-one-container" class="tasks-container">
            <div class="tasks user-tasks" id="user-tasks-one" data-container-id="1"></div>
            <div class="number">1</div>
        </div>
        <div id="user-tasks-two-container" class="tasks-container">
            <div class="tasks user-tasks" id="user-tasks-two" data-container-id="2"></div>
            <div class="number">2</div>
        </div>
        <div id="user-tasks-three-container" class="tasks-container">
            <div class="tasks user-tasks" id="user-tasks-three" data-container-id="3"></div>
            <div class="number">3</div>
        </div>
    </div>
</div>
