@model TasksDistributorViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="flex-container" >
    <div id="upper-row">
        <div class="tasks" id="tasks-pool">Tasks pool
            <ul id="tasks-pool-list">

            </ul>
        </div>
    </div>
    <div id="lower-row">
        <div class="tasks user-tasks" id="user-tasks-one">
            1
            <ul>
                @foreach (var user in Model.Users.Where(u => u.ID == 1))
                {
                    <li>@user.Assignments.Count</li>
                }
            </ul>
        </div>
        <div class="tasks user-tasks" id="user-tasks-two">
            2
            <ul>

            </ul>
        </div>
        <div class="tasks user-tasks" id="user-tasks-three">
            3
            <ul>
                @foreach (var user in Model.Users.Where(u => u.ID == 3))
                {
                    <li>@user.Assignments.Count</li>
                }
            </ul>

        </div>
    </div>
</div>
