/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(135deg, rgba(35,37,39,1) 0%,rgba(40,44,48,1) 50%,rgba(37,40,43,1) 51%,rgba(56,62,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px; 
}

.flex-container {
    display: flex;
    flex-direction: column;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; 
}

.tasks {
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    height: 300px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    -webkit-box-shadow: 6px 6px 3px 0px rgba(0,0,0,1); /*Only for chrome*/
    background-color: #252525;
    touch-action: none;
}

.tasks-container {
    width: 300px;
    max-height: 300px;
    height: 300px;
}

.task-highlighted {
    background: #404040;
}

#upper-row {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
}

.possible-target-container {
    background: #404040;
}

#lower-row {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
}

#user-tasks-one-container {
    position: relative;
    order: 2;
}

#user-tasks-two-container {
    position: relative;
    margin: 0 40px;
    margin-top: 40px;
    order: 1;
}

#user-tasks-three-container {
    position: relative;
    margin: 0 40px;
    margin-top: 65px;
    order: 3;
}

/* Item created by js code */
.tasks-pool-list-item
{
    border: solid 1px rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 1px;
}

.number {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 40px;
    margin-right: 10px; 
    opacity: 0.7;
}

@media screen and (max-width: 1200px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        color: white;
    }

    #upper-row {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #lower-row {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #user-tasks-one-container {
        order: 1;
        margin-top: 5px;
    }

    #user-tasks-two-container {
        margin: 0 auto;
        order: 2;
        margin-top: 5px;
    }

    #user-tasks-three-container {
        margin: 0 auto;
        order: 3;
        margin-top: 5px;
    }

    #tasks-pool {
        margin-top: 25px;
    }

    .tasks {
        -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,1);
    }
}

/*hides scrollbar on google chrome*/
::-webkit-scrollbar {
    display: none;
}

