/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #303030;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    color: white;
}

.tasks {
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    height: 300px;
    border: solid 1px white;
}

#upper-row {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
}

#lower-row {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
}

#user-tasks-one {
    order: 2;
}

#user-tasks-two {
    margin: 0 40px;
    margin-top: 40px;
    order: 1;
}

#user-tasks-three {
    margin: 0 40px;
    margin-top: 65px;
    order: 3;
}

.user-tasks {
    position: relative;
}

.tasks-pool-list-item
{
    border: solid 1px white;
    margin-top: 5px;
}

ul {
    list-style-type: none;
}

#number {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 40px;
    margin-right: 10px;
}

@media screen and (max-width: 1200px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        color: white;
    }

    #upper-row {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #lower-row {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #user-tasks-one {
        order: 1;
        margin-top: 5px;
    }

    #user-tasks-two {
        margin: 0 auto;
        order: 2;
        margin-top: 5px;
    }

    #user-tasks-three {
        margin: 0 auto;
        order: 3;
        margin-top: 5px;
    }

    #tasks-pool
    {
        margin-top: 25px;
    }
}

/*hides scrollbar on google chrome*/
::-webkit-scrollbar {
    /*display: none;*/
    opacity: 0.2;
}

